public/flow/map.json
[{"id":"3492f384.46c47c","type":"function","z":"6f1cfc0d.8fc494","name":"Create Map","func":"var util = context.global.util;\nutil.createMap(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":593,"y":170.9999942779541,"wires":[[]]},{"id":"4ee8b62b.7e4018","type":"inject","z":"6f1cfc0d.8fc494","name":"","topic":"","payload":"[{\"channel\":926125000, \"sf\":10, \"time\":\"2018-12-16T06:45:05Z\", \"gwip\":\"192.168.0.48\", \"gwid\":\"00001c497b431e2e\", \"repeater\":\"00000000ffffffff\", \"systype\":5, \"rssi\":-102.0, \"snr\":28.8, \"snr_max\":36.2, \"snr_min\":17.0, \"macAddr\":\"0000000005010dec\", \"data\":\"fb0106380808000000000000000000\", \"frameCnt\":23402, \"fport\":18}]","payloadType":"str","repeat":"","crontab":"","once":false,"x":169.00000762939453,"y":169,"wires":[["540eb05d.9583"]]},{"id":"540eb05d.9583","type":"function","z":"6f1cfc0d.8fc494","name":"map 10","func":"var myobj = {\n  \"deviceType\": \"10\",\n  \"typeName\": \"溫濕度感測\",\n  \"fieldName\": {\n    \"temperature\": \"溫度\",\n    \"humidity\": \"濕度\"\n  },\n  \"map\": {\n    \"temperature\": [\n      2,\n      6,\n      \"data/100\"\n    ],\n    \"humidity\": [\n      6,\n      10,\n      \"data/100\"\n    ]\n  },\n  \"createUser\": \"Rogwang\",\n  \"createTime\":  new Date()\n};\nmsg.payload = myobj;\nreturn msg;","outputs":1,"noerr":0,"x":375.00001525878906,"y":170.99999809265137,"wires":[["3492f384.46c47c"]]}]