public/flow/map.json
[{"id":"ca2fa6ea.467688","type":"function","z":"697cbb96.3de994","name":"Create Map","func":"var util = context.global.util;\nutil.createMap(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":593.0195236206055,"y":251.0039005279541,"wires":[[]]},{"id":"e89721d0.bf743","type":"inject","z":"697cbb96.3de994","name":"","topic":"","payload":"[{\"channel\":926125000, \"sf\":10, \"time\":\"2018-12-16T06:45:05Z\", \"gwip\":\"192.168.0.48\", \"gwid\":\"00001c497b431e2e\", \"repeater\":\"00000000ffffffff\", \"systype\":5, \"rssi\":-102.0, \"snr\":28.8, \"snr_max\":36.2, \"snr_min\":17.0, \"macAddr\":\"0000000005010dec\", \"data\":\"fb0106380808000000000000000000\", \"frameCnt\":23402, \"fport\":18}]","payloadType":"str","repeat":"","crontab":"","once":false,"x":169.01953125,"y":249.00390625,"wires":[["4bd7330c.c4bcac"]]},{"id":"4bd7330c.c4bcac","type":"function","z":"697cbb96.3de994","name":"map 10","func":"var myobj = {\n  \"deviceType\": \"10\",\n  \"typeName\": \"溫濕度感測\",\n  \"fieldName\": {\n    \"temperature\": \"溫度\",\n    \"humidity\": \"濕度\"\n  },\n  \"map\": {\n    \"temperature\": [\n      2,\n      6,\n      \"data/100\"\n    ],\n    \"humidity\": [\n      6,\n      10,\n      \"data/100\"\n    ]\n  },\n  \"createUser\": \"Rogwang\",\n  \"createTime\":  new Date()\n};\nmsg.payload = myobj;\nreturn msg;","outputs":1,"noerr":0,"x":375.01953887939453,"y":251.00390434265137,"wires":[["ca2fa6ea.467688"]]}]