public/flow/mqtt_all.json
[{"id":"c47ebf6e.897","type":"function","z":"232d7e7c.e5a8b2","name":"取出溫濕度","func":"var obj = msg.payload;\n\nif(obj.information.temperature === undefined || obj.information.humidity === undefined ) {\n    return;\n}\n\n\nvar msg1 = {}, msg2 = {};\nmsg1.payload = obj.information.temperature;\nmsg2.payload = obj.information.humidity;\nreturn [msg1, msg2];","outputs":"2","noerr":0,"x":542,"y":454,"wires":[["96434b0e.df63d8","996522f8.a320a","f8daaa9c.b8f588","dbfeaf4e.ebb96"],["7903ca66.a3df24","db0f7f9f.9fafd","6c404fc3.25f51"]]},{"id":"3e3c1f05.f061d","type":"function","z":"232d7e7c.e5a8b2","name":"解析資料","func":"var util = context.global.util;\nvar parseData = util.parseMsgd(msg.payload);\nif(parseData === null){\n    node.warn('parse fail');\n    return;\n}else{\n    //node.warn('#### parseData :'+JSON.stringify(parseData));\n}\nmsg.payload = parseData;\nreturn msg;","outputs":1,"noerr":0,"x":524.39453125,"y":220.390625,"wires":[["733fc460.5aeb2c","c47ebf6e.897","d5e9365f.81ecf8"]]},{"id":"d5e9365f.81ecf8","type":"function","z":"232d7e7c.e5a8b2","name":"存到資料庫","func":"var eventTools = context.global.eventTools;\nvar obj = msg.payload;\nvar debug = false;\n//node.warn('final payload : \\n'+JSON.stringify(obj));\neventTools.saveEventMsg(obj,function(err,info){\n    if(err){\n        node.error(\"Error\");\n    }else if(debug){\n        eventTools.findLastEventByMac(obj.mac,function(err,device){\n    \t\tif(err){\n    \t\t\tnode.warn(err);\n    \t\t}\n    \t\tif(debug){\n    \t\t\tnode.warn('new device : \\n'+device);\n    \t\t}\n    \t});\n    }\n}); \nreturn msg;","outputs":1,"noerr":0,"x":762,"y":214,"wires":[["8bb27ec1.4292"]]},{"id":"8bb27ec1.4292","type":"debug","z":"232d7e7c.e5a8b2","name":"","active":false,"console":"false","complete":"payload","x":992,"y":214,"wires":[]},{"id":"cd374527.0b0e18","type":"function","z":"232d7e7c.e5a8b2","name":"temperature","func":"var maxNum = 30;  \nvar minNum = 20;  \nvar n = Math.floor(Math.random() * (maxNum - minNum + 1)) + minNum;  \nmsg.payload = n;\nreturn msg;","outputs":1,"noerr":0,"x":521.0194549560547,"y":621.5038566589355,"wires":[[]]},{"id":"dc4ed535.bb4c68","type":"function","z":"232d7e7c.e5a8b2","name":"humidity","func":"var maxNum = 70;  \nvar minNum = 60;  \nvar n = Math.floor(Math.random() * (maxNum - minNum + 1)) + minNum;  \nmsg.payload = n;\nreturn msg;","outputs":1,"noerr":0,"x":508.01947021484375,"y":679.0038595199585,"wires":[[]]},{"id":"96434b0e.df63d8","type":"ui_gauge","z":"232d7e7c.e5a8b2","name":"溫度","group":"a41fe4a3.a2c878","order":1,"width":0,"height":0,"gtype":"gage","title":"溫度","label":"度","format":"{{value}}","min":"0","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"30","x":942,"y":494,"wires":[]},{"id":"7903ca66.a3df24","type":"ui_gauge","z":"232d7e7c.e5a8b2","name":"濕度","group":"b34a119.01bc3f","order":3,"width":0,"height":0,"gtype":"gage","title":"濕度","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":940.9999542236328,"y":592.9999961853027,"wires":[]},{"id":"9c78d8e6.d3e388","type":"inject","z":"232d7e7c.e5a8b2","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":269.01947021484375,"y":426.5038757324219,"wires":[["cd374527.0b0e18","dc4ed535.bb4c68"]]},{"id":"996522f8.a320a","type":"ui_chart","z":"232d7e7c.e5a8b2","name":"","group":"a41fe4a3.a2c878","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"80","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":943.4999351501465,"y":541.3333797454834,"wires":[[],[]]},{"id":"c5bddd81.7a8c8","type":"inject","z":"232d7e7c.e5a8b2","name":"GIOT Data","topic":"","payload":"{\"id\":\"fd2955eb-ab6f-402d-8b50-392da34449b6\",\"macAddr\":\"050102c7\",\"data\":\"0a0a031a62\",\"buff\":\"2019-04-09T02:07:31.519Z\",\"recv\":\"2019-04-09T02:07:31.000Z\",\"extra\":{\"gwip\":\"192.168.1.106\",\"gwid\":\"00001c497b431fa4\",\"rssi\":-60,\"snr\":32}}","payloadType":"str","repeat":"","crontab":"","once":false,"x":220,"y":222.00004768371582,"wires":[["3e3c1f05.f061d"]]},{"id":"733fc460.5aeb2c","type":"debug","z":"232d7e7c.e5a8b2","name":"","active":false,"console":"false","complete":"false","x":762.0195999145508,"y":284.00391387939453,"wires":[]},{"id":"f8daaa9c.b8f588","type":"function","z":"232d7e7c.e5a8b2","name":"比對溫度設定值","func":"var util = context.global.util;\nvar setting = util.getSetting();\nif(setting && setting.tempMax) {\n    node.warn('temperature : ' + msg.payload + ', setting : ' + JSON.stringify(setting));\n    if (msg.payload > setting.tempMax) { \n        msg.topic = '溫度過高通知';\n        var data = new Date() +  '溫度超過設定值';\n        msg.payload = data;\n        return [msg, null];\n    } else {\n        return [null, msg];\n    }\n}\n\n","outputs":"2","noerr":0,"x":722,"y":374,"wires":[["ec6880cf.2eef","56f7bc8b.e9a584","77d2eb64.0bdfd4"],["428b66fa.5c7778"]]},{"id":"ec6880cf.2eef","type":"function","z":"232d7e7c.e5a8b2","name":"傳訊息給line bot","func":"var util = context.global.util;\nutil.sendLineMessage('message test 12345678');\nreturn msg;","outputs":1,"noerr":0,"x":1002.0001068115234,"y":305.0000705718994,"wires":[[]]},{"id":"db0f7f9f.9fafd","type":"ui_chart","z":"232d7e7c.e5a8b2","name":"","group":"b34a119.01bc3f","order":4,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":940.9999694824219,"y":638.9999904632568,"wires":[[],[]]},{"id":"393d0a1d.7ca086","type":"mqtt in","z":"232d7e7c.e5a8b2","name":"","topic":"client/200000206/200000206-GIOT-MAKER","qos":"2","broker":"b8dc14a.4218fe8","x":307.99999237060547,"y":129.00390338897705,"wires":[["2a6af191.877f0e"]]},{"id":"2a6af191.877f0e","type":"debug","z":"232d7e7c.e5a8b2","name":"","active":true,"console":"false","complete":"false","x":689.5243072509766,"y":86.5664291381836,"wires":[]},{"id":"56f7bc8b.e9a584","type":"debug","z":"232d7e7c.e5a8b2","name":"","active":true,"console":"false","complete":"payload","x":994.0000305175781,"y":267.00004959106445,"wires":[]},{"id":"dbfeaf4e.ebb96","type":"debug","z":"232d7e7c.e5a8b2","name":"","active":true,"console":"false","complete":"false","x":755.87890625,"y":434.2070436477661,"wires":[]},{"id":"6c404fc3.25f51","type":"debug","z":"232d7e7c.e5a8b2","name":"","active":false,"console":"false","complete":"false","x":706.8789138793945,"y":558.2109680175781,"wires":[]},{"id":"b125a60d.8514d8","type":"function","z":"232d7e7c.e5a8b2","name":"下發控制命令","func":"\nnode.warn(msg.payload);\n//let gwid = '00001c497bf76c19';\n//msg.topic = 'GIOT-GW/DL/' + gwid;\nlet mac = \"05010bfb\";\n\nlet selectData = 'AA01010100038E';\nnode.warn('selectData : ' + selectData);\nlet tmp = {\"correlationId\":\"1\",\"dldata\":{\"macAddr\":\"05010bfb\",\"data\":\"303132333435\",\"extra\":{\"port\":103,\"txpara\":\"22\"}}}\n//msg.payload = JSON.stringify([tmp]);\nmsg.payload = JSON.stringify(tmp);\nreturn msg;","outputs":1,"noerr":0,"x":415.1471481323242,"y":791.5665941238403,"wires":[["31c81491.1414cc","b3380e94.cad53"]]},{"id":"c8cf602b.8cff9","type":"inject","z":"232d7e7c.e5a8b2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":202.14716339111328,"y":786.5664310455322,"wires":[["b125a60d.8514d8"]]},{"id":"31c81491.1414cc","type":"mqtt out","z":"232d7e7c.e5a8b2","name":"","topic":"client/200000206/200000206-GIOT-MAKER/dl","qos":"","retain":"","broker":"b8dc14a.4218fe8","x":808.1471557617188,"y":846.566593170166,"wires":[]},{"id":"b3380e94.cad53","type":"debug","z":"232d7e7c.e5a8b2","name":"","active":false,"console":"false","complete":"false","x":610.1471328735352,"y":753.5664291381836,"wires":[]},{"id":"b02ca666.09cdb8","type":"mqtt in","z":"232d7e7c.e5a8b2","name":"","topic":"client/200000206/200000206-GIOT-MAKER/dl","qos":"2","broker":"b8dc14a.4218fe8","x":351.1471481323242,"y":936.5664491653442,"wires":[["f77153e8.d4842"]]},{"id":"f77153e8.d4842","type":"debug","z":"232d7e7c.e5a8b2","name":"","active":true,"console":"false","complete":"false","x":727.147144317627,"y":938.5664491653442,"wires":[]},{"id":"499613d5.62b88c","type":"function","z":"232d7e7c.e5a8b2","name":"下發控制命令","func":"\n//node.warn(msg.payload);\n\nlet mac = \"050102c7\";\n\nlet tmp = {\"correlationId\":\"1\",\"dldata\":{\"macAddr\":\"05010bfb\",\"data\": msg.payload,\"extra\":{\"port\":103,\"txpara\":\"22\"}}}\n\nmsg.payload = JSON.stringify(tmp);\nreturn msg;","outputs":1,"noerr":0,"x":1171.3334045410156,"y":555.0000114440918,"wires":[["31c81491.1414cc","329f027c.df5ace"]]},{"id":"77d2eb64.0bdfd4","type":"function","z":"232d7e7c.e5a8b2","name":"開風扇","func":"msg.payload = \"01\";\nreturn msg;","outputs":1,"noerr":0,"x":971.5000915527344,"y":349.00000953674316,"wires":[["499613d5.62b88c"]]},{"id":"428b66fa.5c7778","type":"function","z":"232d7e7c.e5a8b2","name":"關風扇","func":"msg.payload = \"00\";\nreturn msg;","outputs":1,"noerr":0,"x":974.3333129882812,"y":393,"wires":[["499613d5.62b88c"]]},{"id":"329f027c.df5ace","type":"debug","z":"232d7e7c.e5a8b2","name":"","active":false,"console":"false","complete":"false","x":1230.8334197998047,"y":664,"wires":[]},{"id":"a86e1e96.2b84","type":"inject","z":"232d7e7c.e5a8b2","name":"","topic":"","payload":"{\"id\":\"0e4b0c8e-6440-4a62-8fac-a578fa482c02\",\"macAddr\":\"050102c7\",\"data\":\"0a09f01890\",\"buff\":\"2019-04-09T07:30:09.521Z\",\"recv\":\"2019-04-09T07:30:09.000Z\",\"extra\":{\"gwip\":\"163.28.166.168\",\"gwid\":\"00001c497b431f49\",\"rssi\":-126,\"snr\":-11}}","payloadType":"str","repeat":"","crontab":"","once":false,"x":185.16668701171875,"y":328,"wires":[["3e3c1f05.f061d"]]},{"id":"a41fe4a3.a2c878","type":"ui_group","z":"","name":"溫度","tab":"78d5b0f1.60cc4","order":1,"disp":true,"width":"6","collapse":false},{"id":"b34a119.01bc3f","type":"ui_group","z":"","name":"濕度","tab":"78d5b0f1.60cc4","order":2,"disp":true,"width":"6","collapse":false},{"id":"b8dc14a.4218fe8","type":"mqtt-broker","z":"","broker":"52.193.146.103","port":"80","clientid":"200000206-generic-service-01","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"78d5b0f1.60cc4","type":"ui_tab","z":"","name":"溫濕度","icon":"dashboard","order":1}]