public/flow/MQTT_sub.json
[{"id":"43fb4700.d2b768","type":"debug","z":"8999d696.4e34e8","name":"","active":true,"console":"false","complete":"payload","x":330,"y":74,"wires":[]},{"id":"71ae6b11.100324","type":"function","z":"8999d696.4e34e8","name":"parse message","func":"var msgTools = context.global.msgTools;\n//var test = [{\"channel\":925125000, \"sf\":10, \"time\":\"2017-02-17T04:35:47\", \"gwip\":\"192.168.2.4\", \"gwid\":\"00001c497b3b8146\", \"repeater\":\"00000000ffffffff\", \"systype\":4, \"rssi\":-128.8, \"snr\":-14.8, \"snr_max\":-11.5, \"snr_min\":-18.5, \"macAddr\":\"0000000004000888\", \"data\":\"fc000001006c000989\", \"frameCnt\":4933, \"fport\":2}];\n//var parseData = msgTools.parseMsg(test) ;\nvar parseData = msgTools.parseMsg( JSON.parse(msg.payload));\nif(parseData === null){\n    node.warn('drop!!!');\n    return;\n}else{\n    //node.warn('#### parseData :'+JSON.stringify(parseData));\n}\nmsg.payload = parseData;\nreturn msg;","outputs":1,"noerr":0,"x":249.37503051757812,"y":152.38671875,"wires":[["11396843.900e88"]]},{"id":"11396843.900e88","type":"function","z":"8999d696.4e34e8","name":"Save message to  DB","func":"var deviceDbTools = context.global.deviceDbTools;\nvar obj = msg.payload;\nvar debug = false;\n//node.warn('final payload : \\n'+JSON.stringify(obj));\ndeviceDbTools.saveDeviceMsg(obj,function(err,info){\n    if(err){\n        node.error(\"Error\");\n    }else if(debug){\n        deviceDbTools.findLastDeviceByMac(obj.mac,function(err,device){\n    \t\tif(err){\n    \t\t\tnode.warn(err);\n    \t\t}\n    \t\tif(debug){\n    \t\t\tnode.warn('new device : \\n'+device);\n    \t\t}\n    \t});\n    }\n}); \nreturn msg;","outputs":1,"noerr":0,"x":470.37877655029297,"y":154.88671970367432,"wires":[["32228f1f.b395d"]]},{"id":"32228f1f.b395d","type":"debug","z":"8999d696.4e34e8","name":"","active":false,"console":"false","complete":"false","x":707.3827514648438,"y":152.53515625,"wires":[]},{"id":"c61f5371.e385e","type":"mqtt in","z":"8999d696.4e34e8","name":"mqtt","topic":"GIOT-GW/UL/+","qos":"2","broker":"4b900b40.fe81d4","x":89.00001525878906,"y":74.61112213134766,"wires":[["43fb4700.d2b768","71ae6b11.100324"]]},{"id":"1877109b.647bbf","type":"inject","z":"8999d696.4e34e8","name":"","topic":"","payload":"[{\"channel\":922625000, \"sf\":9, \"time\":\"2017-07-21T07:40:05\", \"gwip\":\"192.168.3.4\", \"gwid\":\"00001c497b3b80e6\", \"repeater\":\"00000000ffffffff\", \"systype\":4, \"rssi\":-115.5, \"snr\":-9.5, \"snr_max\":-6.0, \"snr_min\":-13.8, \"macAddr\":\"0000000004000483\", \"data\":\"aa000809b30038017b0000\", \"frameCnt\":1, \"fport\":2}]","payloadType":"json","repeat":"","crontab":"","once":false,"x":102.99999809265137,"y":212,"wires":[["62160527.54657c","9fba938d.12274"]]},{"id":"9fba938d.12274","type":"function","z":"8999d696.4e34e8","name":"","func":"msg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":241,"y":212,"wires":[["f2709f11.b79b5","71ae6b11.100324"]]},{"id":"62160527.54657c","type":"debug","z":"8999d696.4e34e8","name":"","active":false,"console":"false","complete":"false","x":236.5062255859375,"y":267.6437609195709,"wires":[]},{"id":"f2709f11.b79b5","type":"debug","z":"8999d696.4e34e8","name":"","active":true,"console":"false","complete":"false","x":421.4999542236328,"y":213.64373397827148,"wires":[]},{"id":"4b900b40.fe81d4","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","tls":"","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]