public/flow/mqtt_all.json
[{"id":"14f2f9e9.4d4e36","type":"function","z":"e4c6d17e.6889e","name":"取出溫濕度","func":"var obj = msg.payload;\nvar finalEvent = context.global.finalEvent;\nif(obj.macAddr !== finalEvent.macAddr) {\n    return;\n}\n// node.warn('finalEvent.macAddr : ', finalEvent.macAddr);\nvar msg1 = {}, msg2 = {};\nmsg1.payload = obj.information.temperature;\nmsg2.payload = obj.information.humidity;\nreturn [msg1, msg2];","outputs":"2","noerr":0,"x":508,"y":469.4335699081421,"wires":[["8cfa68ff.644138","7c751f09.a1387","9bc81bce.728b98","1b81e8a9.5eeeb7"],["a7bd6345.11ad7","6c5fcf1b.f1fa7","9d40e0ca.b09b5"]]},{"id":"4567549a.ec7dfc","type":"function","z":"e4c6d17e.6889e","name":"解析資料","func":"var util = context.global.util;\nvar parseData = util.parseMsgd(msg.payload);\nif(parseData === null){\n    node.warn('parse fail');\n    return;\n}else{\n    //node.warn('#### parseData :'+JSON.stringify(parseData));\n}\nmsg.payload = parseData;\nreturn msg;","outputs":1,"noerr":0,"x":490.39453125,"y":235.8241949081421,"wires":[["6aaf7002.099d6","14f2f9e9.4d4e36","ee08577f.4d9d48"]]},{"id":"ee08577f.4d9d48","type":"function","z":"e4c6d17e.6889e","name":"存到資料庫","func":"var eventTools = context.global.eventTools;\nvar obj = msg.payload;\nvar debug = false;\n//node.warn('final payload : \\n'+JSON.stringify(obj));\neventTools.saveEventMsg(obj,function(err,info){\n    if(err){\n        node.error(\"Error\");\n    }else if(debug){\n        eventTools.findLastEventByMac(obj.mac,function(err,device){\n    \t\tif(err){\n    \t\t\tnode.warn(err);\n    \t\t}\n    \t\tif(debug){\n    \t\t\tnode.warn('new device : \\n'+device);\n    \t\t}\n    \t});\n    }\n}); \nreturn msg;","outputs":1,"noerr":0,"x":728,"y":229.4335699081421,"wires":[["f3e566b1.207c48"]]},{"id":"f3e566b1.207c48","type":"debug","z":"e4c6d17e.6889e","name":"","active":false,"console":"false","complete":"payload","x":958,"y":229.4335699081421,"wires":[]},{"id":"7a9930cf.6d866","type":"function","z":"e4c6d17e.6889e","name":"temperature","func":"var maxNum = 30;  \nvar minNum = 20;  \nvar n = Math.floor(Math.random() * (maxNum - minNum + 1)) + minNum;  \nmsg.payload = n;\nreturn msg;","outputs":1,"noerr":0,"x":487.0194549560547,"y":636.9374265670776,"wires":[[]]},{"id":"891bbc01.4641f","type":"function","z":"e4c6d17e.6889e","name":"humidity","func":"var maxNum = 70;  \nvar minNum = 60;  \nvar n = Math.floor(Math.random() * (maxNum - minNum + 1)) + minNum;  \nmsg.payload = n;\nreturn msg;","outputs":1,"noerr":0,"x":474.01947021484375,"y":694.4374294281006,"wires":[[]]},{"id":"8cfa68ff.644138","type":"ui_gauge","z":"e4c6d17e.6889e","name":"溫度","group":"94e839ea.97a8d8","order":1,"width":0,"height":0,"gtype":"gage","title":"溫度","label":"度","format":"{{value}}","min":"0","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"30","x":908,"y":509.4335699081421,"wires":[]},{"id":"a7bd6345.11ad7","type":"ui_gauge","z":"e4c6d17e.6889e","name":"濕度","group":"10605ec1.8cbc61","order":3,"width":0,"height":0,"gtype":"gage","title":"濕度","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":906.9999542236328,"y":608.4335660934448,"wires":[]},{"id":"5f46d6e8.a44ad8","type":"inject","z":"e4c6d17e.6889e","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":235.01947021484375,"y":441.93744564056396,"wires":[["7a9930cf.6d866","891bbc01.4641f"]]},{"id":"7c751f09.a1387","type":"ui_chart","z":"e4c6d17e.6889e","name":"","group":"94e839ea.97a8d8","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"80","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":909.4999351501465,"y":556.7669496536255,"wires":[[],[]]},{"id":"16607c6b.90e794","type":"inject","z":"e4c6d17e.6889e","name":"","topic":"","payload":"{\"id\":\"6bc95acf-3e0e-46ab-8716-d3f201b3572a\",\"macAddr\":\"050102c7\",\"data\":\"0a0a0e1993\",\"buff\":\"2019-04-09T03:06:53.399Z\",\"recv\":\"2019-04-09T03:06:53.000Z\",\"extra\":{\"gwip\":\"134.208.5.214\",\"gwid\":\"00001c497bf76c21\",\"rssi\":-127,\"snr\":-13}}","payloadType":"str","repeat":"","crontab":"","once":false,"x":207,"y":235.43359661102295,"wires":[["4567549a.ec7dfc"]]},{"id":"6aaf7002.099d6","type":"debug","z":"e4c6d17e.6889e","name":"","active":false,"console":"false","complete":"false","x":728.0195999145508,"y":299.4374837875366,"wires":[]},{"id":"9bc81bce.728b98","type":"function","z":"e4c6d17e.6889e","name":"比對溫度設定值","func":"var util = context.global.util;\nvar setting = util.getSetting();\nif(setting && setting.tempMax) {\n    node.warn('temperature : ' + msg.payload + ', setting : ' + JSON.stringify(setting));\n    if (msg.payload > setting.tempMax) { \n        msg.topic = '溫度過高通知';\n        var data = new Date() +  '溫度超過設定值';\n        msg.payload = data;\n        return msg;\n    }\n}\n\n","outputs":1,"noerr":0,"x":688,"y":389.4335699081421,"wires":[["7a388917.44fc08","e3e79a48.3d54c8"]]},{"id":"7a388917.44fc08","type":"function","z":"e4c6d17e.6889e","name":"傳訊息給line bot","func":"var util = context.global.util;\nutil.sendLineMessage('message test 12345678');\nreturn msg;","outputs":1,"noerr":0,"x":952.0000228881836,"y":385.43359661102295,"wires":[[]]},{"id":"6c5fcf1b.f1fa7","type":"ui_chart","z":"e4c6d17e.6889e","name":"","group":"10605ec1.8cbc61","order":4,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":906.9999694824219,"y":654.4335603713989,"wires":[[],[]]},{"id":"6bac0afc.2ae3a4","type":"mqtt in","z":"e4c6d17e.6889e","name":"","topic":"client/200000206/200000206-GIOT-MAKER","qos":"2","broker":"fc4ef2f1.91604","x":273.99999237060547,"y":144.43747329711914,"wires":[["4567549a.ec7dfc","ac5b6d57.a4fb3"]]},{"id":"ac5b6d57.a4fb3","type":"debug","z":"e4c6d17e.6889e","name":"","active":true,"console":"false","complete":"false","x":581.5243225097656,"y":94,"wires":[]},{"id":"e3e79a48.3d54c8","type":"debug","z":"e4c6d17e.6889e","name":"","active":true,"console":"false","complete":"payload","x":963.0000152587891,"y":302.4335947036743,"wires":[]},{"id":"1b81e8a9.5eeeb7","type":"debug","z":"e4c6d17e.6889e","name":"","active":true,"console":"false","complete":"false","x":721.87890625,"y":449.6406135559082,"wires":[]},{"id":"9d40e0ca.b09b5","type":"debug","z":"e4c6d17e.6889e","name":"","active":false,"console":"false","complete":"false","x":672.8789138793945,"y":573.6445379257202,"wires":[]},{"id":"87f14802.d814f8","type":"function","z":"e4c6d17e.6889e","name":"下發控制命令","func":"\nnode.warn(msg.payload);\nlet gwid = '00001c497bf76c19';\nlet mac = /*'00000000' +*/ '05010326';\nlet msg1 = {\"topic\": msg.topic};\n\nlet selectData = 'AA01010100038E';\n//msg.topic = 'GIOT-GW/DL/' + gwid;\n//msg.topic = 'client/200000206/200000206-GIOT-MAKER';\nif (selectData === undefined) {\n    selectData = 'AA01010100038E';\n}\nnode.warn('selectData : ' + selectData);\nlet tmp = {\"macAddr\": mac,\"data\": selectData,\"id\":\"1111111111\",\"extra\":{\"port\":1,\"txpara\":\"22\"}};\nmsg.payload = JSON.stringify([tmp]);\nreturn msg;","outputs":1,"noerr":0,"x":425.1471366882324,"y":865.0000162124634,"wires":[["559aa259.269c4c","556bc5fd.f4936c"]]},{"id":"fe55cdc9.ca7b2","type":"inject","z":"e4c6d17e.6889e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":198.14714813232422,"y":858.9999895095825,"wires":[["87f14802.d814f8"]]},{"id":"559aa259.269c4c","type":"mqtt out","z":"e4c6d17e.6889e","name":"","topic":"client/200000206/200000206-GIOT-MAKER/dl","qos":"","retain":"","broker":"fc4ef2f1.91604","x":818.1471405029297,"y":865.0000162124634,"wires":[]},{"id":"556bc5fd.f4936c","type":"debug","z":"e4c6d17e.6889e","name":"","active":true,"console":"false","complete":"false","x":634.1471481323242,"y":788.9999895095825,"wires":[]},{"id":"d0ddc9a0.887f08","type":"mqtt in","z":"e4c6d17e.6889e","name":"","topic":"client/200000206/200000206-GIOT-MAKER/dl","qos":"2","broker":"fc4ef2f1.91604","x":317.1471481323242,"y":952.0000190734863,"wires":[["fde30af0.aca578"]]},{"id":"fde30af0.aca578","type":"debug","z":"e4c6d17e.6889e","name":"","active":true,"console":"false","complete":"false","x":693.147144317627,"y":954.0000190734863,"wires":[]},{"id":"94e839ea.97a8d8","type":"ui_group","z":"","name":"溫度","tab":"1c8d5be2.2a7694","order":1,"disp":true,"width":"6","collapse":false},{"id":"10605ec1.8cbc61","type":"ui_group","z":"","name":"濕度","tab":"1c8d5be2.2a7694","order":2,"disp":true,"width":"6","collapse":false},{"id":"fc4ef2f1.91604","type":"mqtt-broker","z":"","broker":"52.193.146.103","port":"80","clientid":"200000206-generic-service01","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"1c8d5be2.2a7694","type":"ui_tab","z":"","name":"溫濕度","icon":"dashboard","order":1}]