public/flow/mqtt_all.json
[{"id":"d1efb45f.5e2998","type":"function","z":"3e1b9372.3cb26c","name":"取出溫濕度","func":"var obj = msg.payload;\nvar finalEvent = context.global.finalEvent;\nif(obj.macAddr !== finalEvent.macAddr) {\n    return;\n}\n// node.warn('finalEvent.macAddr : ', finalEvent.macAddr);\nvar msg1 = {}, msg2 = {};\nmsg1.payload = obj.information.temperature;\nmsg2.payload = obj.information.humidity;\nreturn [msg1, msg2];","outputs":"2","noerr":0,"x":440.01953887939453,"y":508.43358039855957,"wires":[["50e543fd.f4bc2c","466ae957.b81178","1da7342d.4f59cc","c216c8de.c381d8"],["da5ea098.7261f","74300d90.399454","6571339b.a1b65c"]]},{"id":"2475db2f.e584a4","type":"function","z":"3e1b9372.3cb26c","name":"解析資料","func":"var util = context.global.util;\nvar parseData = util.parseMsgd(msg.payload);\nif(parseData === null){\n    node.warn('parse fail');\n    return;\n}else{\n    //node.warn('#### parseData :'+JSON.stringify(parseData));\n}\nmsg.payload = parseData;\nreturn msg;","outputs":1,"noerr":0,"x":422.41407012939453,"y":274.82420539855957,"wires":[["97b18e9c.5eb89","d1efb45f.5e2998","ed21f231.8aad1"]]},{"id":"ed21f231.8aad1","type":"function","z":"3e1b9372.3cb26c","name":"存到資料庫","func":"var eventTools = context.global.eventTools;\nvar obj = msg.payload;\nvar debug = false;\n//node.warn('final payload : \\n'+JSON.stringify(obj));\neventTools.saveEventMsg(obj,function(err,info){\n    if(err){\n        node.error(\"Error\");\n    }else if(debug){\n        eventTools.findLastEventByMac(obj.mac,function(err,device){\n    \t\tif(err){\n    \t\t\tnode.warn(err);\n    \t\t}\n    \t\tif(debug){\n    \t\t\tnode.warn('new device : \\n'+device);\n    \t\t}\n    \t});\n    }\n}); \nreturn msg;","outputs":1,"noerr":0,"x":660.0195388793945,"y":268.43358039855957,"wires":[["ae2d0acf.446178"]]},{"id":"ae2d0acf.446178","type":"debug","z":"3e1b9372.3cb26c","name":"","active":false,"console":"false","complete":"payload","x":890.0195388793945,"y":268.43358039855957,"wires":[]},{"id":"68da0c58.44cff4","type":"function","z":"3e1b9372.3cb26c","name":"temperature","func":"var maxNum = 30;  \nvar minNum = 20;  \nvar n = Math.floor(Math.random() * (maxNum - minNum + 1)) + minNum;  \nmsg.payload = n;\nreturn msg;","outputs":1,"noerr":0,"x":419.0389938354492,"y":675.9374370574951,"wires":[[]]},{"id":"c69dc801.0ebe28","type":"function","z":"3e1b9372.3cb26c","name":"humidity","func":"var maxNum = 70;  \nvar minNum = 60;  \nvar n = Math.floor(Math.random() * (maxNum - minNum + 1)) + minNum;  \nmsg.payload = n;\nreturn msg;","outputs":1,"noerr":0,"x":406.0390090942383,"y":733.4374399185181,"wires":[[]]},{"id":"50e543fd.f4bc2c","type":"ui_gauge","z":"3e1b9372.3cb26c","name":"溫度","group":"8ae5e9e2.e1d278","order":1,"width":0,"height":0,"gtype":"gage","title":"溫度","label":"度","format":"{{value}}","min":"0","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"30","x":840.0195388793945,"y":548.4335803985596,"wires":[]},{"id":"da5ea098.7261f","type":"ui_gauge","z":"3e1b9372.3cb26c","name":"濕度","group":"3445570.71a6eaa","order":3,"width":0,"height":0,"gtype":"gage","title":"濕度","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":839.0194931030273,"y":647.4335765838623,"wires":[]},{"id":"374b017c.aa03de","type":"inject","z":"3e1b9372.3cb26c","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":167.03900909423828,"y":480.93745613098145,"wires":[["68da0c58.44cff4","c69dc801.0ebe28"]]},{"id":"466ae957.b81178","type":"ui_chart","z":"3e1b9372.3cb26c","name":"","group":"8ae5e9e2.e1d278","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"80","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":841.519474029541,"y":595.766960144043,"wires":[[],[]]},{"id":"9c203fda.67bea","type":"inject","z":"3e1b9372.3cb26c","name":"","topic":"","payload":"{\"id\":\"30de97f3-7f0d-4ac5-8496-f6a58d93f599\",\"macAddr\":\"05010326\",\"data\":\"0a09a119d7\",\"buff\":\"2019-03-18T04:09:05.923Z\",\"recv\":\"2019-03-18T04:09:05.000Z\",\"extra\":{\"gwip\":\"163.28.166.166\",\"gwid\":\"00001c497b431f8e\",\"rssi\":-115.5,\"snr\":-9.5}}","payloadType":"str","repeat":"","crontab":"","once":false,"x":139.01953887939453,"y":274.43360710144043,"wires":[["2475db2f.e584a4"]]},{"id":"97b18e9c.5eb89","type":"debug","z":"3e1b9372.3cb26c","name":"","active":false,"console":"false","complete":"false","x":660.0391387939453,"y":338.4374942779541,"wires":[]},{"id":"1da7342d.4f59cc","type":"function","z":"3e1b9372.3cb26c","name":"比對溫度設定值","func":"var util = context.global.util;\nvar setting = util.getSetting();\nif(setting && setting.tempMax) {\n    node.warn('temperature : ' + msg.payload + ', setting : ' + JSON.stringify(setting));\n    if (msg.payload > setting.tempMax) { \n        msg.topic = '溫度過高通知';\n        var data = new Date() +  '溫度超過設定值';\n        msg.payload = data;\n        return msg;\n    }\n}\n\n","outputs":1,"noerr":0,"x":620.0195388793945,"y":428.43358039855957,"wires":[["ae418249.00ba6","6ae43cc3.0ec354"]]},{"id":"ae418249.00ba6","type":"function","z":"3e1b9372.3cb26c","name":"傳訊息給line bot","func":"var util = context.global.util;\nutil.sendLineMessage('message test 12345678');\nreturn msg;","outputs":1,"noerr":0,"x":884.0195617675781,"y":424.43360710144043,"wires":[[]]},{"id":"74300d90.399454","type":"ui_chart","z":"3e1b9372.3cb26c","name":"","group":"3445570.71a6eaa","order":4,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":839.0195083618164,"y":693.4335708618164,"wires":[[],[]]},{"id":"cc68842c.666508","type":"mqtt in","z":"3e1b9372.3cb26c","name":"","topic":"client/200000206/200000206-GIOT-MAKER","qos":"2","broker":"c6de6ac3.aca5e8","x":206.01953125,"y":183.43748378753662,"wires":[["2475db2f.e584a4","c7b06f00.09c61"]]},{"id":"c7b06f00.09c61","type":"debug","z":"3e1b9372.3cb26c","name":"","active":true,"console":"false","complete":"false","x":513.5438613891602,"y":133.00001049041748,"wires":[]},{"id":"6ae43cc3.0ec354","type":"debug","z":"3e1b9372.3cb26c","name":"","active":true,"console":"false","complete":"payload","x":895.0195541381836,"y":341.4336051940918,"wires":[]},{"id":"c216c8de.c381d8","type":"debug","z":"3e1b9372.3cb26c","name":"","active":true,"console":"false","complete":"false","x":653.8984451293945,"y":488.6406240463257,"wires":[]},{"id":"6571339b.a1b65c","type":"debug","z":"3e1b9372.3cb26c","name":"","active":false,"console":"false","complete":"false","x":604.8984527587891,"y":612.6445484161377,"wires":[]},{"id":"1b804b8d.6e54d4","type":"function","z":"3e1b9372.3cb26c","name":"下發控制命令","func":"\nnode.warn(msg.payload);\nlet gwid = '00001c497bf76c19';\nlet mac = /*'00000000' +*/ '05010326';\nlet msg1 = {\"topic\": msg.topic};\n\nlet selectData = 'AA01010100038E';\n//msg.topic = 'GIOT-GW/DL/' + gwid;\n//msg.topic = 'client/200000206/200000206-GIOT-MAKER';\nif (selectData === undefined) {\n    selectData = 'AA01010100038E';\n}\nnode.warn('selectData : ' + selectData);\nlet tmp = {\"macAddr\": mac,\"data\": selectData,\"id\":\"1111111111\",\"extra\":{\"port\":1,\"txpara\":\"22\"}};\nmsg.payload = JSON.stringify([tmp]);\nreturn msg;","outputs":1,"noerr":0,"x":357.16667556762695,"y":904.0000267028809,"wires":[["347e5b17.90e644","d13889fa.95d9e8"]]},{"id":"18754ddb.768d22","type":"inject","z":"3e1b9372.3cb26c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130.16668701171875,"y":898,"wires":[["1b804b8d.6e54d4"]]},{"id":"347e5b17.90e644","type":"mqtt out","z":"3e1b9372.3cb26c","name":"","topic":"client/200000206/200000206-GIOT-MAKER/dl","qos":"","retain":"","broker":"c6de6ac3.aca5e8","x":750.1666793823242,"y":904.0000267028809,"wires":[]},{"id":"d13889fa.95d9e8","type":"debug","z":"3e1b9372.3cb26c","name":"","active":true,"console":"false","complete":"false","x":566.1666870117188,"y":828,"wires":[]},{"id":"845c94c2.b00cd8","type":"mqtt in","z":"3e1b9372.3cb26c","name":"","topic":"client/200000206/200000206-GIOT-MAKER/dl","qos":"2","broker":"c6de6ac3.aca5e8","x":249.16668701171875,"y":991.0000295639038,"wires":[["6484b264.5c86dc"]]},{"id":"6484b264.5c86dc","type":"debug","z":"3e1b9372.3cb26c","name":"","active":true,"console":"false","complete":"false","x":625.1666831970215,"y":993.0000295639038,"wires":[]},{"id":"8ae5e9e2.e1d278","type":"ui_group","z":"","name":"溫度","tab":"621ecbfb.059b44","order":1,"disp":true,"width":"6","collapse":false},{"id":"3445570.71a6eaa","type":"ui_group","z":"","name":"濕度","tab":"621ecbfb.059b44","order":2,"disp":true,"width":"6","collapse":false},{"id":"c6de6ac3.aca5e8","type":"mqtt-broker","z":"","broker":"52.193.146.103","port":"80","clientid":"200000206-generic-service01","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"621ecbfb.059b44","type":"ui_tab","z":"","name":"溫濕度","icon":"dashboard","order":1}]