public/flow/ws_all.json
[{"id":"73c1e833.424a88","type":"websocket out","z":"3dc81c9f.fee8b4","name":"web socket mobiUI - out","server":"512d6de0.c956b4","client":"","x":728.01953125,"y":337,"wires":[]},{"id":"29171ec3.99b1d2","type":"websocket in","z":"3dc81c9f.fee8b4","name":"web socket tools - in","server":"512d6de0.c956b4","client":"","x":148.01953125,"y":237,"wires":[["ed001b65.4d2838","deb2ecc7.51bc1"]]},{"id":"768a3e59.43415","type":"comment","z":"3dc81c9f.fee8b4","name":"監聽 /ws/devices","info":"","x":135,"y":191.99609375,"wires":[]},{"id":"ed001b65.4d2838","type":"function","z":"3dc81c9f.fee8b4","name":"WS/devices","func":"var obj = JSON.parse(msg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\" || obj.id==\"refresh\"){\n    msg.payload = obj.v;\n    //node.warn('payload'+msg.payload);\n\treturn msg;  \n}\n","outputs":"1","noerr":0,"x":388.01953887939453,"y":241.0000057220459,"wires":[["c0122ab7.7072b8","27ee3978.b871e6"]]},{"id":"c0122ab7.7072b8","type":"function","z":"3dc81c9f.fee8b4","name":"set index/view","func":"var moment = context.global.momentModule;\nvar mac = msg.payload.mac;\ncontext.global.selectedMac = mac;\nvar date = msg.payload.date;\nvar option = 0;//0: 1 day, 1: 1 weeks, 2: 1 months, 3: 3 months \nif(msg.payload.option) {\n    option = msg.payload.option;\n}\n\nvar type = msg.payload.type;\n\nvar path = 'http://localhost:3000/api/devices?mac='+mac+'&option='+option+'&date='+ date;\nnode.warn('path:'+path);\nmsg.url = path;\nreturn msg;","outputs":"1","noerr":0,"x":728.01953125,"y":237,"wires":[["2e0c5524.f611ea","45c81b43.4c3044"]]},{"id":"7c0c2ea2.c0076","type":"function","z":"3dc81c9f.fee8b4","name":"Parse(mongoDb message)","func":"var rows = 0;\nvar mac = context.global.selectedMac;\nvar util = context.global.util;\nvar data = util.getTabledata (msg.payload);\n// node.warn(mac);\nmsg.payload = {id:\"change_table\",mac: mac, v: data};\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":395.01954650878906,"y":336.9999952316284,"wires":[["73c1e833.424a88","c36eac74.a09c1"]]},{"id":"2e0c5524.f611ea","type":"http request","z":"3dc81c9f.fee8b4","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":148.01953125,"y":338,"wires":[["84c37dae.019ac","7c0c2ea2.c0076"]]},{"id":"84c37dae.019ac","type":"debug","z":"3dc81c9f.fee8b4","name":"","active":false,"console":"false","complete":"false","x":313.01953125,"y":421,"wires":[]},{"id":"729741b1.3de1b","type":"websocket in","z":"3dc81c9f.fee8b4","name":"","server":"3bb7b6af.6a2baa","client":"","x":128.01953125,"y":537,"wires":[["a15f36ae.7583c8"]]},{"id":"a15f36ae.7583c8","type":"function","z":"3dc81c9f.fee8b4","name":"Save setting","func":"var obj = JSON.parse(msg.payload);\nvar util = context.global.util;\n\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\"){\n    node.warn('init');\n    msg.payload = {id:\"init\", v: 'finish'};\n} else if (obj.id==\"sendCmd\") {\n    var max = obj.v;\n    node.warn('payload'+ max);\n    util.saveSetting (max, function(err,result){\n        if(err) {\n            msg.payload = {id:\"toSaveFail\", v: err};\n        } else {\n            msg.payload = {id:\"toSaveOK\", v: result};\n        }\n    })\n\t \n}\n\nreturn msg; \n","outputs":1,"noerr":0,"x":378.01953125,"y":537,"wires":[["728cc143.17326","ff862e58.abda5"]]},{"id":"728cc143.17326","type":"debug","z":"3dc81c9f.fee8b4","name":"","active":true,"console":"false","complete":"false","x":698.01953125,"y":477,"wires":[]},{"id":"ff862e58.abda5","type":"websocket out","z":"3dc81c9f.fee8b4","name":"","server":"3bb7b6af.6a2baa","client":"","x":708.01953125,"y":537,"wires":[]},{"id":"42acaba0.0957c4","type":"comment","z":"3dc81c9f.fee8b4","name":"監聽 /WS/setting ","info":"","x":138.01953125,"y":497,"wires":[]},{"id":"deb2ecc7.51bc1","type":"debug","z":"3dc81c9f.fee8b4","name":"","active":false,"console":"false","complete":"false","x":388.01953125,"y":177,"wires":[]},{"id":"27ee3978.b871e6","type":"debug","z":"3dc81c9f.fee8b4","name":"","active":false,"console":"false","complete":"false","x":708.01953125,"y":177,"wires":[]},{"id":"c36eac74.a09c1","type":"debug","z":"3dc81c9f.fee8b4","name":"","active":true,"console":"false","complete":"false","x":650.1862182617188,"y":398,"wires":[]},{"id":"45c81b43.4c3044","type":"debug","z":"3dc81c9f.fee8b4","name":"","active":true,"console":"false","complete":"false","x":846.8945159912109,"y":288.6484365463257,"wires":[]},{"id":"512d6de0.c956b4","type":"websocket-listener","z":"","path":"/ws/devices","wholemsg":"false"},{"id":"3bb7b6af.6a2baa","type":"websocket-listener","z":"","path":"/ws/setting","wholemsg":"false"}]