public/flow/ws_all.json
[{"id":"a5ea8f8c.bd1f2","type":"websocket out","z":"3484ba60.65a496","name":"web socket mobiUI - out","server":"93354628.9de5f8","client":"","x":756.01953125,"y":293.9999990463257,"wires":[]},{"id":"af507df4.f9f87","type":"websocket in","z":"3484ba60.65a496","name":"web socket tools - in","server":"93354628.9de5f8","client":"","x":176.01953125,"y":193.99999904632568,"wires":[["194f38f7.e49007","848a6bb3.223db8"]]},{"id":"cd619b8f.e97768","type":"comment","z":"3484ba60.65a496","name":"監聽 /ws/devices","info":"","x":163,"y":148.99609279632568,"wires":[]},{"id":"194f38f7.e49007","type":"function","z":"3484ba60.65a496","name":"WS/devices","func":"var obj = JSON.parse(msg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\" || obj.id==\"refresh\"){\n    msg.payload = obj.v;\n    //node.warn('payload'+msg.payload);\n\treturn msg;  \n}\n","outputs":"1","noerr":0,"x":416.01953887939453,"y":198.00000476837158,"wires":[["7331f74e.cb4a48","b1ab3ce1.276d7"]]},{"id":"7331f74e.cb4a48","type":"function","z":"3484ba60.65a496","name":"set index/view","func":"var moment = context.global.momentModule;\nvar mac = msg.payload.mac;\ncontext.global.selectedMac = mac;\nvar date = msg.payload.date;\nvar option = 0;//0: 1 day, 1: 1 weeks, 2: 1 months, 3: 3 months \nif(msg.payload.option) {\n    option = msg.payload.option;\n}\n\nvar type = msg.payload.type;\n\nvar path = 'http://localhost:3000/api/devices?mac='+mac+'&option='+option+'&date='+ date;\nnode.warn('path:'+path);\nmsg.url = path;\nreturn msg;","outputs":"1","noerr":0,"x":756.01953125,"y":193.99999904632568,"wires":[["c153d49e.79dbe8","1f4056cc.4dc909"]]},{"id":"fd7ff32e.04937","type":"function","z":"3484ba60.65a496","name":"Parse(mongoDb message)","func":"var rows = 0;\nvar mac = context.global.selectedMac;\nvar util = context.global.util;\nvar data = util.getTabledata (msg.payload);\n// node.warn(mac);\nmsg.payload = {id:\"change_table\",mac: mac, v: data};\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":423.01954650878906,"y":293.9999942779541,"wires":[["a5ea8f8c.bd1f2","fd9a3991.794eb8"]]},{"id":"c153d49e.79dbe8","type":"http request","z":"3484ba60.65a496","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":176.01953125,"y":294.9999990463257,"wires":[["5953b8cb.a5aef8","fd7ff32e.04937"]]},{"id":"5953b8cb.a5aef8","type":"debug","z":"3484ba60.65a496","name":"","active":false,"console":"false","complete":"false","x":341.01953125,"y":377.9999990463257,"wires":[]},{"id":"38885141.d859ae","type":"websocket in","z":"3484ba60.65a496","name":"","server":"f0ee7cae.ceb7c","client":"","x":156.01953125,"y":493.9999990463257,"wires":[["ea7d7917.62c378"]]},{"id":"ea7d7917.62c378","type":"function","z":"3484ba60.65a496","name":"Save setting","func":"var obj = JSON.parse(msg.payload);\nvar util = context.global.util;\n\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\"){\n    node.warn('init');\n    msg.payload = {id:\"init\", v: 'finish'};\n} else if (obj.id==\"sendCmd\") {\n    var max = obj.v;\n    node.warn('payload'+ max);\n    util.saveSetting (max, function(err,result){\n        if(err) {\n            msg.payload = {id:\"toSaveFail\", v: err};\n        } else {\n            msg.payload = {id:\"toSaveOK\", v: result};\n        }\n    })\n\t \n}\n\nreturn msg; \n","outputs":1,"noerr":0,"x":406.01953125,"y":493.9999990463257,"wires":[["ba807ad1.2ff708","18949a91.bacd65"]]},{"id":"ba807ad1.2ff708","type":"debug","z":"3484ba60.65a496","name":"","active":true,"console":"false","complete":"false","x":726.01953125,"y":433.9999990463257,"wires":[]},{"id":"18949a91.bacd65","type":"websocket out","z":"3484ba60.65a496","name":"","server":"f0ee7cae.ceb7c","client":"","x":736.01953125,"y":493.9999990463257,"wires":[]},{"id":"454dbbcf.6cc744","type":"comment","z":"3484ba60.65a496","name":"監聽 /WS/setting ","info":"","x":166.01953125,"y":453.9999990463257,"wires":[]},{"id":"848a6bb3.223db8","type":"debug","z":"3484ba60.65a496","name":"","active":false,"console":"false","complete":"false","x":416.01953125,"y":133.99999904632568,"wires":[]},{"id":"b1ab3ce1.276d7","type":"debug","z":"3484ba60.65a496","name":"","active":false,"console":"false","complete":"false","x":736.01953125,"y":133.99999904632568,"wires":[]},{"id":"fd9a3991.794eb8","type":"debug","z":"3484ba60.65a496","name":"","active":true,"console":"false","complete":"false","x":678.1862182617188,"y":354.9999990463257,"wires":[]},{"id":"1f4056cc.4dc909","type":"debug","z":"3484ba60.65a496","name":"","active":true,"console":"false","complete":"false","x":874.8945159912109,"y":245.64843559265137,"wires":[]},{"id":"93354628.9de5f8","type":"websocket-listener","z":"","path":"/ws/devices","wholemsg":"false"},{"id":"f0ee7cae.ceb7c","type":"websocket-listener","z":"","path":"/ws/setting","wholemsg":"false"}]