public/flow/ws_all.json
[{"id":"713f64e9.1623ac","type":"function","z":"e59f26ff.969e48","name":"取出溫濕度","func":"var obj = msg.payload;\nvar finalEvent = context.global.finalEvent;\nif(obj.macAddr !== finalEvent.macAddr) {\n    return;\n}\n// node.warn('finalEvent.macAddr : ', finalEvent.macAddr);\nvar msg1 = {}, msg2 = {};\nmsg1.payload = obj.information.temperature;\nmsg2.payload = obj.information.humidity;\nreturn [msg1, msg2];","outputs":"2","noerr":0,"x":443.01953125,"y":417.4335813522339,"wires":[["6ee5a555.46bfac","33a0ebb7.0ca054","44609bfc.cd9374","eb78926.bed337"],["258ef06d.d1952","3eaa05d3.aea49a","9b08aa41.91e558"]]},{"id":"30119ed1.42fe02","type":"function","z":"e59f26ff.969e48","name":"解析資料","func":"var util = context.global.util;\nvar parseData = util.parseMsgd(msg.payload);\nif(parseData === null){\n    node.warn('parse fail');\n    return;\n}else{\n    //node.warn('#### parseData :'+JSON.stringify(parseData));\n}\nmsg.payload = parseData;\nreturn msg;","outputs":1,"noerr":0,"x":425.4140625,"y":183.8242063522339,"wires":[["b85f9d13.d93f8","713f64e9.1623ac","a3dc77c6.417e48"]]},{"id":"a3dc77c6.417e48","type":"function","z":"e59f26ff.969e48","name":"存到資料庫","func":"var eventTools = context.global.eventTools;\nvar obj = msg.payload;\nvar debug = false;\n//node.warn('final payload : \\n'+JSON.stringify(obj));\neventTools.saveEventMsg(obj,function(err,info){\n    if(err){\n        node.error(\"Error\");\n    }else if(debug){\n        eventTools.findLastEventByMac(obj.mac,function(err,device){\n    \t\tif(err){\n    \t\t\tnode.warn(err);\n    \t\t}\n    \t\tif(debug){\n    \t\t\tnode.warn('new device : \\n'+device);\n    \t\t}\n    \t});\n    }\n}); \nreturn msg;","outputs":1,"noerr":0,"x":663.01953125,"y":177.4335813522339,"wires":[["ad3af27e.416a5"]]},{"id":"ad3af27e.416a5","type":"debug","z":"e59f26ff.969e48","name":"","active":false,"console":"false","complete":"payload","x":893.01953125,"y":177.4335813522339,"wires":[]},{"id":"b9afdb6e.d90338","type":"function","z":"e59f26ff.969e48","name":"temperature","func":"var maxNum = 30;  \nvar minNum = 20;  \nvar n = Math.floor(Math.random() * (maxNum - minNum + 1)) + minNum;  \nmsg.payload = n;\nreturn msg;","outputs":1,"noerr":0,"x":505.03900146484375,"y":533.9374570846558,"wires":[[]]},{"id":"7d10ced3.8eca7","type":"function","z":"e59f26ff.969e48","name":"humidity","func":"var maxNum = 70;  \nvar minNum = 60;  \nvar n = Math.floor(Math.random() * (maxNum - minNum + 1)) + minNum;  \nmsg.payload = n;\nreturn msg;","outputs":1,"noerr":0,"x":497.03900146484375,"y":575.4374265670776,"wires":[[]]},{"id":"6ee5a555.46bfac","type":"ui_gauge","z":"e59f26ff.969e48","name":"溫度","group":"7873008b.f032c","order":1,"width":0,"height":0,"gtype":"gage","title":"溫度","label":"度","format":"{{value}}","min":"-20","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"30","x":843.01953125,"y":457.4335813522339,"wires":[]},{"id":"258ef06d.d1952","type":"ui_gauge","z":"e59f26ff.969e48","name":"濕度","group":"834c4b75.2417f8","order":3,"width":0,"height":0,"gtype":"gage","title":"濕度","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":842.0194854736328,"y":556.4335775375366,"wires":[]},{"id":"cd0e4f0c.fd70c","type":"inject","z":"e59f26ff.969e48","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":170.03900146484375,"y":389.93745708465576,"wires":[["b9afdb6e.d90338","7d10ced3.8eca7"]]},{"id":"33a0ebb7.0ca054","type":"ui_chart","z":"e59f26ff.969e48","name":"","group":"7873008b.f032c","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"80","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":844.5194664001465,"y":504.7669610977173,"wires":[[],[]]},{"id":"237a1fa.30bc8e","type":"inject","z":"e59f26ff.969e48","name":"","topic":"","payload":"[{\"channel\":923875000, \"sf\":10, \"time\":\"2019-03-15T03:10:05Z\", \"gwip\":\"192.168.0.48\", \"gwid\":\"00001c497b431e38\", \"repeater\":\"00000000ffffffff\", \"systype\":5, \"rssi\":-102.0, \"snr\":20.5, \"snr_max\":27.5, \"snr_min\":15.5, \"macAddr\":\"0000000005010e6d\", \"data\":\"fb0106770ade06013f02978b0d0000\", \"frameCnt\":9319, \"fport\":18}]","payloadType":"str","repeat":"","crontab":"","once":false,"x":143.01953125,"y":277.4335813522339,"wires":[["30119ed1.42fe02"]]},{"id":"b85f9d13.d93f8","type":"debug","z":"e59f26ff.969e48","name":"","active":false,"console":"false","complete":"false","x":663.0391311645508,"y":247.43749523162842,"wires":[]},{"id":"44609bfc.cd9374","type":"function","z":"e59f26ff.969e48","name":"比對溫度設定值","func":"var util = context.global.util;\nvar setting = util.getSetting();\nnode.warn('temperature : ' + msg.payload + ', setting : ' + JSON.stringify(setting));\nif (msg.payload > setting.tempMax) { \n    msg.topic = '溫度過高通知';\n    var data = new Date() +  '溫度超過設定值';\n    msg.payload = data;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":623.01953125,"y":337.4335813522339,"wires":[["d9e2f28.6a9d31","da42e64d.20fa68"]]},{"id":"d9e2f28.6a9d31","type":"function","z":"e59f26ff.969e48","name":"傳訊息給line bot","func":"var util = context.global.util;\nutil.sendLineMessage('message test 12345678');\nreturn msg;","outputs":1,"noerr":0,"x":883.01953125,"y":377.4335813522339,"wires":[[]]},{"id":"3eaa05d3.aea49a","type":"ui_chart","z":"e59f26ff.969e48","name":"","group":"834c4b75.2417f8","order":4,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":842.0195007324219,"y":602.4335718154907,"wires":[[],[]]},{"id":"a8e09138.00641","type":"mqtt in","z":"e59f26ff.969e48","name":"","topic":"GIOT-GW/UL/+","qos":"2","broker":"2c6b8638.13477a","x":146.01953125,"y":128.4374876022339,"wires":[["30119ed1.42fe02","b3a9324c.14321"]]},{"id":"b3a9324c.14321","type":"debug","z":"e59f26ff.969e48","name":"","active":false,"console":"false","complete":"false","x":358.5438537597656,"y":97,"wires":[]},{"id":"da42e64d.20fa68","type":"debug","z":"e59f26ff.969e48","name":"","active":false,"console":"false","complete":"payload","x":863.01953125,"y":277.4335813522339,"wires":[]},{"id":"eb78926.bed337","type":"debug","z":"e59f26ff.969e48","name":"","active":false,"console":"false","complete":"false","x":656.8984375,"y":397.640625,"wires":[]},{"id":"9b08aa41.91e558","type":"debug","z":"e59f26ff.969e48","name":"","active":false,"console":"false","complete":"false","x":626.8984375,"y":486.64453125,"wires":[]},{"id":"7873008b.f032c","type":"ui_group","z":"","name":"溫度","tab":"416ce54e.5dbd3c","order":1,"disp":true,"width":"6","collapse":false},{"id":"834c4b75.2417f8","type":"ui_group","z":"","name":"濕度","tab":"416ce54e.5dbd3c","order":2,"disp":true,"width":"6","collapse":false},{"id":"2c6b8638.13477a","type":"mqtt-broker","z":"","broker":"119.81.189.47","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"416ce54e.5dbd3c","type":"ui_tab","z":"","name":"溫濕度","icon":"dashboard","order":1}]