.nodered/flows_960193-NB01.json
[{"id":"e59f26ff.969e48","type":"tab","label":"Flow 1"},{"id":"3484ba60.65a496","type":"tab","label":"Flow 2"},{"id":"a5e989d4.0b6b78","type":"tab","label":"Flow 3"},{"id":"2c6b8638.13477a","type":"mqtt-broker","z":"","broker":"119.81.189.47","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"93354628.9de5f8","type":"websocket-listener","z":"","path":"/ws/devices","wholemsg":"false"},{"id":"f0ee7cae.ceb7c","type":"websocket-listener","z":"","path":"/ws/setting","wholemsg":"false"},{"id":"7caba9d2.acd4e8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"416ce54e.5dbd3c","type":"ui_tab","z":"","name":"溫濕度","icon":"dashboard","order":1},{"id":"7873008b.f032c","type":"ui_group","z":"","name":"溫度","tab":"416ce54e.5dbd3c","order":1,"disp":true,"width":"6","collapse":false},{"id":"834c4b75.2417f8","type":"ui_group","z":"","name":"濕度","tab":"416ce54e.5dbd3c","order":2,"disp":true,"width":"6","collapse":false},{"id":"713f64e9.1623ac","type":"function","z":"e59f26ff.969e48","name":"取出溫濕度","func":"var obj = msg.payload;\nvar finalEvent = context.global.finalEvent;\nif(obj.macAddr !== finalEvent.macAddr) {\n    return;\n}\n// node.warn('finalEvent.macAddr : ', finalEvent.macAddr);\nvar msg1 = {}, msg2 = {};\nmsg1.payload = obj.information.temperature;\nmsg2.payload = obj.information.humidity;\nreturn [msg1, msg2];","outputs":"2","noerr":0,"x":443.01953125,"y":417.4335813522339,"wires":[["6ee5a555.46bfac","33a0ebb7.0ca054","44609bfc.cd9374","eb78926.bed337"],["258ef06d.d1952","3eaa05d3.aea49a","9b08aa41.91e558"]]},{"id":"30119ed1.42fe02","type":"function","z":"e59f26ff.969e48","name":"解析資料","func":"var util = context.global.util;\nvar parseData = util.parseMsgd(msg.payload);\nif(parseData === null){\n    node.warn('parse fail');\n    return;\n}else{\n    //node.warn('#### parseData :'+JSON.stringify(parseData));\n}\nmsg.payload = parseData;\nreturn msg;","outputs":1,"noerr":0,"x":425.4140625,"y":183.8242063522339,"wires":[["b85f9d13.d93f8","713f64e9.1623ac","a3dc77c6.417e48"]]},{"id":"a3dc77c6.417e48","type":"function","z":"e59f26ff.969e48","name":"存到資料庫","func":"var eventTools = context.global.eventTools;\nvar obj = msg.payload;\nvar debug = false;\n//node.warn('final payload : \\n'+JSON.stringify(obj));\neventTools.saveEventMsg(obj,function(err,info){\n    if(err){\n        node.error(\"Error\");\n    }else if(debug){\n        eventTools.findLastEventByMac(obj.mac,function(err,device){\n    \t\tif(err){\n    \t\t\tnode.warn(err);\n    \t\t}\n    \t\tif(debug){\n    \t\t\tnode.warn('new device : \\n'+device);\n    \t\t}\n    \t});\n    }\n}); \nreturn msg;","outputs":1,"noerr":0,"x":663.01953125,"y":177.4335813522339,"wires":[["ad3af27e.416a5"]]},{"id":"ad3af27e.416a5","type":"debug","z":"e59f26ff.969e48","name":"","active":false,"console":"false","complete":"payload","x":893.01953125,"y":177.4335813522339,"wires":[]},{"id":"b9afdb6e.d90338","type":"function","z":"e59f26ff.969e48","name":"temperature","func":"var maxNum = 30;  \nvar minNum = 20;  \nvar n = Math.floor(Math.random() * (maxNum - minNum + 1)) + minNum;  \nmsg.payload = n;\nreturn msg;","outputs":1,"noerr":0,"x":505.03900146484375,"y":533.9374570846558,"wires":[[]]},{"id":"7d10ced3.8eca7","type":"function","z":"e59f26ff.969e48","name":"humidity","func":"var maxNum = 70;  \nvar minNum = 60;  \nvar n = Math.floor(Math.random() * (maxNum - minNum + 1)) + minNum;  \nmsg.payload = n;\nreturn msg;","outputs":1,"noerr":0,"x":497.03900146484375,"y":575.4374265670776,"wires":[[]]},{"id":"6ee5a555.46bfac","type":"ui_gauge","z":"e59f26ff.969e48","name":"溫度","group":"7873008b.f032c","order":1,"width":0,"height":0,"gtype":"gage","title":"溫度","label":"度","format":"{{value}}","min":"-20","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"30","x":843.01953125,"y":457.4335813522339,"wires":[]},{"id":"258ef06d.d1952","type":"ui_gauge","z":"e59f26ff.969e48","name":"濕度","group":"834c4b75.2417f8","order":3,"width":0,"height":0,"gtype":"gage","title":"濕度","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":842.0194854736328,"y":556.4335775375366,"wires":[]},{"id":"cd0e4f0c.fd70c","type":"inject","z":"e59f26ff.969e48","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":170.03900146484375,"y":389.93745708465576,"wires":[["b9afdb6e.d90338","7d10ced3.8eca7"]]},{"id":"33a0ebb7.0ca054","type":"ui_chart","z":"e59f26ff.969e48","name":"","group":"7873008b.f032c","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"80","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":844.5194664001465,"y":504.7669610977173,"wires":[[],[]]},{"id":"237a1fa.30bc8e","type":"inject","z":"e59f26ff.969e48","name":"","topic":"","payload":"[{\"channel\":923875000, \"sf\":10, \"time\":\"2019-03-15T03:10:05Z\", \"gwip\":\"192.168.0.48\", \"gwid\":\"00001c497b431e38\", \"repeater\":\"00000000ffffffff\", \"systype\":5, \"rssi\":-102.0, \"snr\":20.5, \"snr_max\":27.5, \"snr_min\":15.5, \"macAddr\":\"0000000005010e6d\", \"data\":\"fb0106770ade06013f02978b0d0000\", \"frameCnt\":9319, \"fport\":18}]","payloadType":"str","repeat":"","crontab":"","once":false,"x":143.01953125,"y":277.4335813522339,"wires":[["30119ed1.42fe02"]]},{"id":"b85f9d13.d93f8","type":"debug","z":"e59f26ff.969e48","name":"","active":false,"console":"false","complete":"false","x":663.0391311645508,"y":247.43749523162842,"wires":[]},{"id":"44609bfc.cd9374","type":"function","z":"e59f26ff.969e48","name":"比對溫度設定值","func":"var util = context.global.util;\nvar setting = util.getSetting();\nnode.warn('temperature : ' + msg.payload + ', setting : ' + JSON.stringify(setting));\nif (msg.payload > setting.tempMax) { \n    msg.topic = '溫度過高通知';\n    var data = new Date() +  '溫度超過設定值';\n    msg.payload = data;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":623.01953125,"y":337.4335813522339,"wires":[["d9e2f28.6a9d31","da42e64d.20fa68"]]},{"id":"d9e2f28.6a9d31","type":"function","z":"e59f26ff.969e48","name":"傳訊息給line bot","func":"var util = context.global.util;\nutil.sendLineMessage('message test 12345678');\nreturn msg;","outputs":1,"noerr":0,"x":883.01953125,"y":377.4335813522339,"wires":[[]]},{"id":"3eaa05d3.aea49a","type":"ui_chart","z":"e59f26ff.969e48","name":"","group":"834c4b75.2417f8","order":4,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":842.0195007324219,"y":602.4335718154907,"wires":[[],[]]},{"id":"a8e09138.00641","type":"mqtt in","z":"e59f26ff.969e48","name":"","topic":"GIOT-GW/UL/+","qos":"2","broker":"2c6b8638.13477a","x":146.01953125,"y":128.4374876022339,"wires":[["30119ed1.42fe02","b3a9324c.14321"]]},{"id":"b3a9324c.14321","type":"debug","z":"e59f26ff.969e48","name":"","active":false,"console":"false","complete":"false","x":358.5438537597656,"y":97,"wires":[]},{"id":"a5ea8f8c.bd1f2","type":"websocket out","z":"3484ba60.65a496","name":"web socket mobiUI - out","server":"93354628.9de5f8","client":"","x":756.01953125,"y":293.9999990463257,"wires":[]},{"id":"af507df4.f9f87","type":"websocket in","z":"3484ba60.65a496","name":"web socket tools - in","server":"93354628.9de5f8","client":"","x":176.01953125,"y":193.99999904632568,"wires":[["194f38f7.e49007","848a6bb3.223db8"]]},{"id":"cd619b8f.e97768","type":"comment","z":"3484ba60.65a496","name":"監聽 /ws/devices","info":"","x":163,"y":148.99609279632568,"wires":[]},{"id":"194f38f7.e49007","type":"function","z":"3484ba60.65a496","name":"WS/devices","func":"var obj = JSON.parse(msg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\" || obj.id==\"refresh\"){\n    msg.payload = obj.v;\n    //node.warn('payload'+msg.payload);\n\treturn msg;  \n}\n","outputs":"1","noerr":0,"x":416.01953887939453,"y":198.00000476837158,"wires":[["7331f74e.cb4a48","b1ab3ce1.276d7"]]},{"id":"7331f74e.cb4a48","type":"function","z":"3484ba60.65a496","name":"set index/view","func":"var moment = context.global.momentModule;\nvar mac = msg.payload.mac;\ncontext.global.selectedMac = mac;\nvar date = msg.payload.date;\nvar option = 0;//0: 1 day, 1: 1 weeks, 2: 1 months, 3: 3 months \nif(msg.payload.option) {\n    option = msg.payload.option;\n}\n\nvar type = msg.payload.type;\n\nvar path = 'http://localhost:3000/api/devices?mac='+mac+'&option='+option+'&date='+ date;\nnode.warn('path:'+path);\nmsg.url = path;\nreturn msg;","outputs":"1","noerr":0,"x":756.01953125,"y":193.99999904632568,"wires":[["c153d49e.79dbe8","1f4056cc.4dc909"]]},{"id":"fd7ff32e.04937","type":"function","z":"3484ba60.65a496","name":"Parse(mongoDb message)","func":"var rows = 0;\nvar mac = context.global.selectedMac;\nvar util = context.global.util;\nvar data = util.getTabledata (msg.payload);\n// node.warn(mac);\nmsg.payload = {id:\"change_table\",mac: mac, v: data};\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":423.01954650878906,"y":293.9999942779541,"wires":[["a5ea8f8c.bd1f2","fd9a3991.794eb8"]]},{"id":"c153d49e.79dbe8","type":"http request","z":"3484ba60.65a496","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":176.01953125,"y":294.9999990463257,"wires":[["5953b8cb.a5aef8","fd7ff32e.04937"]]},{"id":"5953b8cb.a5aef8","type":"debug","z":"3484ba60.65a496","name":"","active":false,"console":"false","complete":"false","x":341.01953125,"y":377.9999990463257,"wires":[]},{"id":"38885141.d859ae","type":"websocket in","z":"3484ba60.65a496","name":"","server":"f0ee7cae.ceb7c","client":"","x":156.01953125,"y":493.9999990463257,"wires":[["ea7d7917.62c378"]]},{"id":"ea7d7917.62c378","type":"function","z":"3484ba60.65a496","name":"Save setting","func":"var obj = JSON.parse(msg.payload);\nvar util = context.global.util;\n\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\"){\n    node.warn('init');\n    msg.payload = {id:\"init\", v: 'finish'};\n} else if (obj.id==\"sendCmd\") {\n    var max = obj.v;\n    node.warn('payload'+ max);\n    util.saveSetting (max, function(err,result){\n        if(err) {\n            msg.payload = {id:\"toSaveFail\", v: err};\n        } else {\n            msg.payload = {id:\"toSaveOK\", v: result};\n        }\n    })\n\t \n}\n\nreturn msg; \n","outputs":1,"noerr":0,"x":406.01953125,"y":493.9999990463257,"wires":[["ba807ad1.2ff708","18949a91.bacd65"]]},{"id":"ba807ad1.2ff708","type":"debug","z":"3484ba60.65a496","name":"","active":true,"console":"false","complete":"false","x":726.01953125,"y":433.9999990463257,"wires":[]},{"id":"18949a91.bacd65","type":"websocket out","z":"3484ba60.65a496","name":"","server":"f0ee7cae.ceb7c","client":"","x":736.01953125,"y":493.9999990463257,"wires":[]},{"id":"454dbbcf.6cc744","type":"comment","z":"3484ba60.65a496","name":"監聽 /WS/setting ","info":"","x":166.01953125,"y":453.9999990463257,"wires":[]},{"id":"848a6bb3.223db8","type":"debug","z":"3484ba60.65a496","name":"","active":false,"console":"false","complete":"false","x":416.01953125,"y":133.99999904632568,"wires":[]},{"id":"b1ab3ce1.276d7","type":"debug","z":"3484ba60.65a496","name":"","active":false,"console":"false","complete":"false","x":736.01953125,"y":133.99999904632568,"wires":[]},{"id":"fd9a3991.794eb8","type":"debug","z":"3484ba60.65a496","name":"","active":true,"console":"false","complete":"false","x":678.1862182617188,"y":354.9999990463257,"wires":[]},{"id":"df19e70e.f5dcc8","type":"inject","z":"a5e989d4.0b6b78","name":"","topic":"","payload":"[{\"channel\":926125000, \"sf\":10, \"time\":\"2018-12-16T06:45:05Z\", \"gwip\":\"192.168.0.48\", \"gwid\":\"00001c497b431e2e\", \"repeater\":\"00000000ffffffff\", \"systype\":5, \"rssi\":-102.0, \"snr\":28.8, \"snr_max\":36.2, \"snr_min\":17.0, \"macAddr\":\"0000000005010dec\", \"data\":\"fb0106380808000000000000000000\", \"frameCnt\":23402, \"fport\":18}]","payloadType":"str","repeat":"","crontab":"","once":false,"x":216.01953125,"y":191.00390625,"wires":[["7ebd1a09.1bd614"]]},{"id":"7ebd1a09.1bd614","type":"function","z":"a5e989d4.0b6b78","name":"map 17","func":"var myobj = {\n  \"deviceType\": \"17\",\n  \"typeName\": \"土壤感測\",\n  \"fieldName\": {\n    \"ph\": \"酸鹼度\",\n    \"moisture\": \"含水量\",\n    \"temperature\": \"溫度\",\n    \"ec\": \"電導度\",\n    \"voltage\": \"電壓\"\n  },\n  \"map\": {\n    \"ph\": [\n      4,\n      8,\n      \"(data+1)*3.3/4096*7\"\n    ],\n    \"moisture\": [\n      14,\n      18,\n      \"data/100\"\n    ],\n    \"temperature\": [\n      18,\n      22,\n      \"data/100\"\n    ],\n    \"ec\": [\n      22,\n      26,\n      \"data/1000\"\n    ],\n    \"voltage\": [\n      8,\n      12,\n      \"data\"\n    ]\n  },\n  \"createUser\": \"Rogwang\",\n  \"createTime\": new Date()\n};\nmsg.payload = myobj;\nreturn msg;","outputs":1,"noerr":0,"x":363.01953125,"y":190.00390625,"wires":[["75ba0acf.257604"]]},{"id":"f155cea1.f171","type":"function","z":"a5e989d4.0b6b78","name":"map 18","func":"var myobj = {\n  \"deviceType\": \"18\",\n  \"typeName\": \"溫濕度感測\",\n  \"fieldName\": {\n    \"temperature\": \"溫度\",\n    \"humidity\": \"濕度\",\n    \"voltage\": \"電壓\"\n  },\n  \"map\": {\n    \"temperature\": [\n      14,\n      18,\n      \"data/10\"\n    ],\n    \"humidity\": [\n      18,\n      22,\n      \"data/10\"\n    ],\n    \"voltage\": [\n      8,\n      12,\n      \"data\"\n    ]\n  },\n  \"createUser\": \"Rogwang\",\n  \"createTime\":  new Date()\n};\nmsg.payload = myobj;\nreturn msg;","outputs":1,"noerr":0,"x":364.51953125,"y":246.00390625,"wires":[["75ba0acf.257604"]]},{"id":"81f4d81c.b6a218","type":"function","z":"a5e989d4.0b6b78","name":"map 19","func":"var myobj = {\n  \"deviceType\": \"19\",\n  \"typeName\": \"光合溫濕度\",\n  \"fieldName\": {\n    \"photon\": \"光照度\",\n    \"temperature\": \"溫度\",\n    \"humidity\": \"濕度\",\n    \"voltage\": \"電壓\"\n  },\n  \"map\": {\n    \"photon\": [\n      4,\n      8,\n      \"(data+1)*(3300/4096)\"\n    ],\n    \"temperature\": [\n      14,\n      18,\n      \"data/10\"\n    ],\n    \"humidity\": [\n      18,\n      22,\n      \"data/10\"\n    ],\n    \"voltage\": [\n      8,\n      12,\n      \"data\"\n    ]\n  },\n  \"createUser\": \"Rogwang\",\n  \"createTime\": new Date()\n};\nmsg.payload = myobj;\nreturn msg;","outputs":1,"noerr":0,"x":354.51953125,"y":299.00390625,"wires":[["75ba0acf.257604"]]},{"id":"3a7e2e96.838282","type":"inject","z":"a5e989d4.0b6b78","name":"","topic":"","payload":"[{\"channel\":926125000, \"sf\":10, \"time\":\"2018-12-16T06:45:05Z\", \"gwip\":\"192.168.0.48\", \"gwid\":\"00001c497b431e2e\", \"repeater\":\"00000000ffffffff\", \"systype\":5, \"rssi\":-102.0, \"snr\":28.8, \"snr_max\":36.2, \"snr_min\":17.0, \"macAddr\":\"0000000005010dec\", \"data\":\"fb0106380808000000000000000000\", \"frameCnt\":23402, \"fport\":18}]","payloadType":"str","repeat":"","crontab":"","once":false,"x":208.51953125,"y":248.00390625,"wires":[["f155cea1.f171"]]},{"id":"2889b526.ddb30a","type":"inject","z":"a5e989d4.0b6b78","name":"","topic":"","payload":"[{\"channel\":926125000, \"sf\":10, \"time\":\"2018-12-16T06:45:05Z\", \"gwip\":\"192.168.0.48\", \"gwid\":\"00001c497b431e2e\", \"repeater\":\"00000000ffffffff\", \"systype\":5, \"rssi\":-102.0, \"snr\":28.8, \"snr_max\":36.2, \"snr_min\":17.0, \"macAddr\":\"0000000005010dec\", \"data\":\"fb0106380808000000000000000000\", \"frameCnt\":23402, \"fport\":18}]","payloadType":"str","repeat":"","crontab":"","once":false,"x":211.51953125,"y":302.00390625,"wires":[["81f4d81c.b6a218"]]},{"id":"75ba0acf.257604","type":"function","z":"a5e989d4.0b6b78","name":"Create Map","func":"var util = context.global.util;\nutil.createMap(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":573.01953125,"y":249.00390625,"wires":[[]]},{"id":"da42e64d.20fa68","type":"debug","z":"e59f26ff.969e48","name":"","active":false,"console":"false","complete":"payload","x":863.01953125,"y":277.4335813522339,"wires":[]},{"id":"eb78926.bed337","type":"debug","z":"e59f26ff.969e48","name":"","active":true,"console":"false","complete":"false","x":656.8984375,"y":397.640625,"wires":[]},{"id":"9b08aa41.91e558","type":"debug","z":"e59f26ff.969e48","name":"","active":true,"console":"false","complete":"false","x":626.8984375,"y":486.64453125,"wires":[]},{"id":"1f4056cc.4dc909","type":"debug","z":"3484ba60.65a496","name":"","active":true,"console":"false","complete":"false","x":874.8945159912109,"y":245.64843559265137,"wires":[]}]