.nodered/flows_Jason-PC.json
[{"id":"9bad82d3.73747","type":"tab","label":"Flow 1"},{"id":"8999d696.4e34e8","type":"tab","label":"Flow 2"},{"id":"abc64386.ef263","type":"websocket-listener","z":"","path":"/ws/","wholemsg":"false"},{"id":"1efaaa2b.a92da6","type":"websocket-listener","z":"","path":"/ws/devices","wholemsg":"false"},{"id":"352c287b.4d7588","type":"websocket-listener","z":"","path":"/ws/gateway","wholemsg":"false"},{"id":"4b900b40.fe81d4","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","tls":"","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"4b8dc3b6.951bcc","type":"websocket in","z":"9bad82d3.73747","name":"web socket index - in","server":"abc64386.ef263","client":"","x":127,"y":108.00000953674316,"wires":[["c59640e.3a501c"]]},{"id":"c59640e.3a501c","type":"function","z":"9bad82d3.73747","name":"Check WS Message","func":"var obj = JSON.parse(msg.payload);\nnode.warn('\tmsg.payload:'+\tmsg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\"){\n    context.global.selectedType=obj.v;\n    msg.payload = {id:\"init_btn\", v: context.global.selectedType}; \n\treturn [msg,null];\n}else if(obj.id==\"change_type\"){\n\tcontext.global.selectedType=obj.v;\n\tmsg.url = 'http://localhost:3001/todos/lists?name=finalist&type='+obj.v;\n\tnode.warn('\tmsg.url:'+\tmsg.url);\n\treturn [null,msg];\n}\n","outputs":"2","noerr":0,"x":409.44444274902344,"y":125.33334255218506,"wires":[["ed9b7b58.0b5e18"],["6a5d47e8.bbc178"]]},{"id":"8ddb0c9b.2119c","type":"function","z":"9bad82d3.73747","name":"Get Device Information","func":"//node.warn('Get Device Information');\nvar msgTools = context.global.msgTools;\nvar finalist = msg.payload;\n\nvar dataString = msgTools.getFinalData(finalist);\n\nmsg.payload = {id:\"change_table\", v: dataString,type: context.global.selectedType}; \nnode.warn('Get Device Information msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":856.4444427490234,"y":148.00001335144043,"wires":[["ed9b7b58.0b5e18"]]},{"id":"ed9b7b58.0b5e18","type":"websocket out","z":"9bad82d3.73747","name":"web socket mobiUI - out","server":"abc64386.ef263","client":"","x":1145.4444427490234,"y":108.00001335144043,"wires":[]},{"id":"61dca628.328d38","type":"comment","z":"9bad82d3.73747","name":"Listen /ws/index","info":"receive id='init' to virify type\nsend id = 'init_btn' to change button active by type\nreceive id='change_type' to get devices of type\nget devices of type\nsend id = 'change_type' to change button active by type\n     and change table data by devices of type","x":105.44444274902344,"y":61.00001335144043,"wires":[]},{"id":"6a5d47e8.bbc178","type":"http request","z":"9bad82d3.73747","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":616.4444427490234,"y":148.00001335144043,"wires":[["8ddb0c9b.2119c"]]},{"id":"b7a6215e.c888b","type":"websocket out","z":"9bad82d3.73747","name":"web socket mobiUI - out","server":"1efaaa2b.a92da6","client":"","x":883.5633544921875,"y":385.40000343322754,"wires":[]},{"id":"be5e8aed.fe8cb8","type":"websocket in","z":"9bad82d3.73747","name":"web socket tools - in","server":"1efaaa2b.a92da6","client":"","x":120.89668273925781,"y":300.40001010894775,"wires":[["ba3ae481.b0c378","1d9ab1a7.cc60fe"]]},{"id":"33efa9a0.cb85a6","type":"comment","z":"9bad82d3.73747","name":"Listen /ws/devices","info":"","x":107.5633544921875,"y":260.40000343322754,"wires":[]},{"id":"ba3ae481.b0c378","type":"function","z":"9bad82d3.73747","name":"WS/devices","func":"//node.warn('Check WS/devices Message payload'+msg.payload);\nvar obj = JSON.parse(msg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\" || obj.id==\"refresh\"){\n    var json = obj.v;\n    var mac = obj.v.mac;\n    var type = obj.v.type;\n    var date = obj.v.date;\n    var option = obj.v.option;\n    var host = obj.v.host;\n    var port = obj.v.port;\n    context.global.selectedType = type;\n    msg.url = \"http://\"+host+\":\"+port+\"/todos/devices?mac=\"+mac+\"&type=\"+type+\"&mdate=\"+date+\"&option=\"+option;\n    node.warn(msg.url);\n\treturn msg;  \n}\n","outputs":"1","noerr":0,"x":104.00779724121094,"y":384.3999996185303,"wires":[["f53a32e3.17592"]]},{"id":"1d9ab1a7.cc60fe","type":"debug","z":"9bad82d3.73747","name":"","active":false,"console":"false","complete":"payload","x":433.8133544921875,"y":298.01719093322754,"wires":[]},{"id":"f53a32e3.17592","type":"http request","z":"9bad82d3.73747","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":301.5633544921875,"y":384.40000343322754,"wires":[["c49211f1.6e101","c0f72c15.8506c"]]},{"id":"c49211f1.6e101","type":"debug","z":"9bad82d3.73747","name":"","active":false,"console":"false","complete":"false","x":414.8055419921875,"y":464.01719093322754,"wires":[]},{"id":"c0f72c15.8506c","type":"function","z":"9bad82d3.73747","name":"Get Device Information","func":"//node.warn('Get Device Information');\nvar msgTools = context.global.msgTools;\nvar type = context.global.selectedType;\nvar devices = msg.payload;\n\nvar dataString = msgTools.getDevicesData(type,devices);\n\nmsg.payload = {id:\"init_table\", v: dataString,type: context.global.selectedType}; \n//node.warn('Get Device Information msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":582.5633544921875,"y":386.40000343322754,"wires":[["b7a6215e.c888b"]]},{"id":"43fb4700.d2b768","type":"debug","z":"8999d696.4e34e8","name":"","active":true,"console":"false","complete":"payload","x":330,"y":74,"wires":[]},{"id":"71ae6b11.100324","type":"function","z":"8999d696.4e34e8","name":"parse message","func":"var msgTools = context.global.msgTools;\n//var test = [{\"channel\":925125000, \"sf\":10, \"time\":\"2017-02-17T04:35:47\", \"gwip\":\"192.168.2.4\", \"gwid\":\"00001c497b3b8146\", \"repeater\":\"00000000ffffffff\", \"systype\":4, \"rssi\":-128.8, \"snr\":-14.8, \"snr_max\":-11.5, \"snr_min\":-18.5, \"macAddr\":\"0000000004000888\", \"data\":\"fc000001006c000989\", \"frameCnt\":4933, \"fport\":2}];\n//var parseData = msgTools.parseMsg(test) ;\nvar parseData = msgTools.parseMsg( JSON.parse(msg.payload));\nif(parseData === null){\n    node.warn('drop!!!');\n    return;\n}else{\n    //node.warn('#### parseData :'+JSON.stringify(parseData));\n}\nmsg.payload = parseData;\nreturn msg;","outputs":1,"noerr":0,"x":249.37503051757812,"y":152.38671875,"wires":[["11396843.900e88"]]},{"id":"11396843.900e88","type":"function","z":"8999d696.4e34e8","name":"Save message to  DB","func":"var deviceDbTools = context.global.deviceDbTools;\nvar obj = msg.payload;\nvar debug = false;\n//node.warn('final payload : \\n'+JSON.stringify(obj));\ndeviceDbTools.saveDeviceMsg(obj,function(err,info){\n    if(err){\n        node.error(\"Error\");\n    }else if(debug){\n        deviceDbTools.findLastDeviceByMac(obj.mac,function(err,device){\n    \t\tif(err){\n    \t\t\tnode.warn(err);\n    \t\t}\n    \t\tif(debug){\n    \t\t\tnode.warn('new device : \\n'+device);\n    \t\t}\n    \t});\n    }\n}); \nreturn msg;","outputs":1,"noerr":0,"x":470.37877655029297,"y":154.88671970367432,"wires":[["32228f1f.b395d"]]},{"id":"32228f1f.b395d","type":"debug","z":"8999d696.4e34e8","name":"","active":false,"console":"false","complete":"false","x":707.3827514648438,"y":152.53515625,"wires":[]},{"id":"c61f5371.e385e","type":"mqtt in","z":"8999d696.4e34e8","name":"mqtt","topic":"GIOT-GW/UL/+","qos":"2","broker":"4b900b40.fe81d4","x":89.00001525878906,"y":74.61112213134766,"wires":[["43fb4700.d2b768","71ae6b11.100324"]]},{"id":"1877109b.647bbf","type":"inject","z":"8999d696.4e34e8","name":"","topic":"","payload":"[{\"channel\":922625000, \"sf\":9, \"time\":\"2017-07-21T07:40:05\", \"gwip\":\"192.168.3.4\", \"gwid\":\"00001c497b3b80e6\", \"repeater\":\"00000000ffffffff\", \"systype\":4, \"rssi\":-115.5, \"snr\":-9.5, \"snr_max\":-6.0, \"snr_min\":-13.8, \"macAddr\":\"0000000004000483\", \"data\":\"aa000809b30038017b0000\", \"frameCnt\":1, \"fport\":2}]","payloadType":"json","repeat":"","crontab":"","once":false,"x":102.99999809265137,"y":212,"wires":[["62160527.54657c","9fba938d.12274"]]},{"id":"9fba938d.12274","type":"function","z":"8999d696.4e34e8","name":"","func":"msg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":241,"y":212,"wires":[["f2709f11.b79b5","71ae6b11.100324"]]},{"id":"62160527.54657c","type":"debug","z":"8999d696.4e34e8","name":"","active":false,"console":"false","complete":"false","x":236.5062255859375,"y":267.6437609195709,"wires":[]},{"id":"f2709f11.b79b5","type":"debug","z":"8999d696.4e34e8","name":"","active":true,"console":"false","complete":"false","x":421.4999542236328,"y":213.64373397827148,"wires":[]}]